  
.content-container {
    color: #111D5B !important;
}

.form-label {
    width: 25%; /* Uniform label width */
    font-size: 14px;
}
        
.form-control {
    font-size: 14px;
    width: 75%; /* Uniform input width */
}
        
.section-title {
    font-size: 18px; 

}     