/* .container-content {
    margin-left: 250px;
    width: calc(100% - 250px);
    padding: 20px;
    
} */

.hd-policy {
    color: #111D5B;
}

.policy-section {
    color: #111D5B !important;
    max-height: calc(100vh - 100px); /* Adjust to fit viewport */
    
}