.hd-color {
    color: #111D5B;
}

.notes-list .note-item {
    transition: transform 0.2s ease-in-out;
  }
  
  .notes-list .note-item:hover {
    transform: scale(1.02);
  }

  .bin-icon {
    width: 20px;
    height: 20px;
  }

  .modal-hd {
    color: white;
  }

  .modal-bgd {
    background-color: #90C1FF;
  }