
    body {
      margin: 0;
      height: 100vh;
      background: linear-gradient(45deg, rgba(51, 119, 204, 0.8) 10%, rgba(17, 29, 91, 0.8) 100%), 
                  url('images/columban-bg.jpg') !important;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }


    .logo-container img {
      max-width: 150px;
    }

    .left-content h1 {
      font-size: 3rem;
      font-weight: bold;
    }

    .left-content p {
      font-size: 1.25rem;
      font-style: italic;
      color: #e0e0e0;
    }

    .right-content {
      background-color: white;
      height: 100%; /* Full height */
      padding: 2rem;
      box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2); /* Shadow on the left side */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .btn-ems-ats {
      background-color: #111D55;
      width: 100%;
      font-size: 1.5rem;
      font-weight: bold;
    }

    @media (max-width: 768px) {
      .right-content {
        margin-top: 2rem;
        height: auto; /* Adjust for smaller screens */
        box-shadow: none; /* Remove shadow on small screens */
      }
    }